body{
  background-color:#A1E3D8;
}
hr{
  border-color:#005555;
  border-width:5px;
  border-style:none;
  border-top-style:dotted;
  width:5%;
}
h1{

  color:#005555;

}
h3{

  color:#005555;
}
